.driverDiv {
    max-width: 750px;
    height: 250px;
    background-image: url(../Images/UI/Background/framemobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3px;
}

.faceEntry {
    width: 224px;
    height: 100px;
    object-fit: contain;
    background-size: cover;
    margin-left: 19px;
    margin-top: 70px;
    display: inline-block;
    border: 2px solid #FFF;
}
.driverTextDiv {
    width: 500px;
    height: 120px;
    display: inline-block;
    vertical-align: top;
}

.driverName {
    color: white;
    font-family: tour;
    font-size: 28px;
    vertical-align: top;
    margin-left: 30px;
    display: inline-block;
}

.driverReceived {
    color:gray;
    font-family: tour;
    vertical-align: top;
    font-size: 18px;
    margin-top: -10px;
    margin-left: 30px;
}

.boxPoints {
    width: 144px;
    height: 80px;
    vertical-align: top;
    display: inline-block;
    background-size: cover;
    transform: scale(1.2);
    margin-left: 276px;
    margin-right: 12px;
    margin-top: -40px;
}

.boxLevel {
    width: 144px;
    height: 80px;
    vertical-align: top;
    display: inline-block;
    background-size: cover;
    transform: scale(1.2);
    margin-top: -40px;
}

.boxCap {
    width: 100px;
    height: 80px;
    vertical-align: top;
    display: inline-block;
    transform: scale(1.2);
    margin-top: -40px;
    margin-right: 12px;
}

.ticketImg {
    width: 80px;
    height: auto;
    margin-left: 7px;
}

.capNum {
    font-family: tour;
    font-size: 24px;
    color: white;
    margin-left: 30px;
    margin-top: 5px;
}

.pointsContainer {
    margin-top: 23px;
    text-align: center;
}

.scoreNumber {
    height: 30px;
}

.scoreComma {
    height: 11px;
}

.levelNumber {
    height: 32px;
    margin-top: 23px;
    margin-left: 72px;
}


.listlevelpanel {
    display: inline-block;
    height: 130px;
    vertical-align: top;
    margin-left: -40px;
    position: relative;
}

.listlevelprogress {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-top: 58px;
    margin-left: -33px;
    width: 84px;
    height: 13px;
}

.listlevelprogress::-webkit-progress-bar {
    background-color: #000;
}

.listlevelprogress::-webkit-progress-value {
    background-image: url('../Images/UI/Lists/levelProgressGradient.png');
    background-size: contain;
}

.listlevelprogress::-moz-progress-bar {
    background-color: #000;
}

.listlevelprogress::-moz-progress-value {
    background-color: -moz-linear-gradient(90deg, rgba(249,220,74,1) 0%, rgba(236,111,45,1) 35%);
}

.listlevelprogresstext {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 58px;
    margin-left: -33px;
    width: 83px;
    text-align: center;
    font-family: 'tour';
    font-size: 12px;
    color: white;
    filter: drop-shadow(0px 0px 1px black);
    letter-spacing: -1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.listpointpanel {
    display: inline-block;
    height: 130px;
    vertical-align: top;
    margin-left: 63px;
    margin-top: -58px;
    position: relative;
}

.listpointprogress {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 58px;
    margin-left: -33px;
    width: 84px;
    height: 13px;
}

.listpointprogress::-webkit-progress-bar {
    background-color: #000;
}

.listpointprogress::-webkit-progress-value {
    background-image: url('../Images/UI/Lists/pointProgressGradient.png');
    background-size: contain;
}

.listpointprogress::-moz-progress-bar {
    background-color: #000;
}

.listpointprogress::-moz-progress-value {
    background-image: url('../Images/UI/Lists/pointProgressGradient.png');
    background-size: contain;
}


.listpointprogresstext {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 58px;
    margin-left: -33px;
    width: 83px;
    text-align: center;
    font-family: 'tour';
    font-size: 12px;
    color: white;
    filter: drop-shadow(0px 0px 1px black);
    letter-spacing: -1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.badgeDiv {
    width: 220px;
    height: 260px;
    display: inline-block;
    text-align: center;
    padding: 8px;
    background-image: url('../Images/UI/Background/BigButtonBadge.png');
    background-repeat: no-repeat;
}

.badgeName {
    height: 30px;
    width: 220px;
    text-align: center;
    font-family: 'tour';
    font-size: 20px;
    line-height: 28px;
    color: white;
    letter-spacing: -1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 0px;
    margin-bottom: 0px;
}

.badgeImg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding-top: 10px;
    padding-bottom: 35px;
}

.badgeTextDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 62px;
}

.badgeReceived {
    color:rgb(151, 151, 151);
    font-family: tour;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 12px;
    line-height: 24px;
}

.itemDiv {
    width: 220px;
    height: 240px;
    display: inline-block;
    text-align: center;
    padding: 8px;
    background-image: url('../Images/UI/Background/BigButtonItem.png');
    background-repeat: no-repeat;
}

.itemName {
    font-family: 'tour';
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 0px;
    line-height: 28px;
    padding-left: 2px;
}

.itemCount {
    height: 30px;
    width: 220px;
    text-align: center;
    font-family: 'tour';
    font-size: 27px;
    color: white;
    letter-spacing: -1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 0px;
    margin-bottom: 0px;
}

.itemImg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding-top: 10px;
}

.returnTop {
    position: fixed;
    bottom: 0;
    right: 2px;
    z-index: 100;
    width: 276px;
}

.backBtn {
    position: fixed;
    bottom: 0;
    left: 2px;
    z-index: 100;
    width: 236px;
}